@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background: #1E1E1E;
}

header {
    min-height: 100px;
    max-height: fit-content;
    background: #111111;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
}

.header-wrapper {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.contact-btn {
    width: 160px;
    height: 50px;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.contact-btn:hover {
    cursor: pointer;
}

.main-section {
    background-image: url(images/Group\ 10591background.svg);
    background-repeat: no-repeat;
    height: calc(100vh - 126px);
    max-height: calc(100vh - 126px);
    display: flex;
    align-items: center;
}

.section-text {
    color: white;
}

.text-wrapper h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
}

.gray-text {
    color: #ffffff30;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    margin-bottom: 50px;
}

.lets-talk-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 3px;
    background-color: #272727;
    width: 350px;
}

.email-input {
    border: none;
    background: url(images/Message\ 35icon.svg) no-repeat 7px 7px;
    background-position: left;
    background-position-x: 20px;
    padding-left: 50px;
    border: none;
    height: 50px;
    color: #ffffff30;
}

.input-btn {
    border-radius: 25px;
    width: 130px;
    border: none;
    background-color: #E3B748;
    font-size: 16px;
    font-weight: 600;
}

.input-btn:hover {
    cursor: pointer;
}

.email-input:focus {
    outline: none;
}

.lets-talk-form:focus-within {
    outline: 1px solid rgb(255, 255, 255)
}

h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    color: white;
}

h2 {
    color: white;
}

.secondary-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.secondary-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;

}

.secondary-block-wrapper {
    display: flex;
    width: 80%;
    color: white;
}

.secondary-block, .secondary-block-2 {
    display: flex;
    width: 50%;
}

.secondary-block-2{
    justify-content: flex-end;
    border-left: 1px solid rgb(78, 78, 78);
}

.block-info {
    width: 80%;
}


.secondary-sect h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
}

.secondary-sect h2 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.choose-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-card-wrapper {
    width: 60%;    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.choose-card{
    width: 27%;
    height: max-content;
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
}

.choose-card-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.choose-card-btn {
    border-radius: 25px;
    width: 130px;
    border: none;
    background-color: #E3B748;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
}



@media only screen and (max-width:639px) {
    main {
        background: #111111;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: center;
        justify-content: center;
    }

    .section-text {
        width: 100%;
        background-color: #11111190;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 50%;
    }

    .text-wrapper h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 50px;
    }

    .gray-text {
        color: #c7c7c7 !important;
    }
}

@media only screen and (min-width:640px) and (max-width:1024px) {
    main {
        background: #111111;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: center;
        justify-content: center;
    }

    .section-text {
        width: 100%;
        background-color: #11111190;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        width: 50%;
    }

    .text-wrapper h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 50px;
    }

    .gray-text {
        color: #c7c7c7 !important;
    }
}

@media only screen and (min-width:1025px) and (max-width:1259px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }
}

@media only screen and (min-width:1260px) and (max-width:1365px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }
}

@media only screen and (min-width:1366px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }
}