@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background: #1E1E1E;
}

header {
    min-height: 100px;
    max-height: fit-content;
    background: #111111;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
}

section {
    font-family: 'Roboto';
}

.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.contact-btn {
    width: 160px;
    height: 50px;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.contact-btn:hover {
    cursor: pointer;
}

.main-section {
    background-image: url(images/Group\ 10591background.svg);
    background-repeat: no-repeat;
    height: calc(100vh - 126px);
    max-height: calc(100vh - 126px);
    display: flex;
    align-items: center;
}

.section-text {
    color: white;
}

.text-wrapper h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
}

.gray-text {
    color: #ffffff30;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    margin-bottom: 50px;
}

.lets-talk-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 3px;
    background-color: #272727;
    width: 350px;
}

.email-input {
    border: none;
    background: url(images/Message\ 35icon.svg) no-repeat 7px 7px;
    background-position: left;
    background-position-x: 20px;
    padding-left: 50px;
    border: none;
    height: 50px;
    color: #ffffff30;
}

.input-btn {
    border-radius: 25px;
    width: 130px;
    border: none;
    background-color: #E3B748;
    font-size: 16px;
    font-weight: 600;
}

.input-btn:hover {
    cursor: pointer;
}

.email-input:focus {
    outline: none;
}

.lets-talk-form:focus-within {
    outline: 1px solid rgb(255, 255, 255)
}

h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    color: white;
}

h2 {
    color: white;
}

.secondary-sect {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 500px;
}


.secondary-block-wrapper {
    display: flex;
    width: 100%;
    color: white;
}

.secondary-block,
.secondary-block-2 {
    display: flex;
    width: 50%;
}

.secondary-block-2 {
    justify-content: flex-end;
    border-left: 1px solid rgb(78, 78, 78);
}

.block-info {
    width: 80%;
}


.secondary-sect h1 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
}

.secondary-sect h2 {
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.choose-us {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choose-card-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.choose-card {
    max-width: 300px;
    height: max-content;
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
    min-width: 300px;
    max-width: 320px;
}

.choose-card-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.choose-card-btn {
    border-radius: 25px;
    width: 130px;
    border: none;
    background-color: #E3B748;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
}

.prac {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto';
}

.prac-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prac-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prac-line {
    width: 100%;
    min-height: 340px;
    display: flex;
    gap: 20px;
}

.prac-line-reversed {
    flex-direction: row-reverse;
}

.prac-card {
    position: relative;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
}

.prac-card-title {
    width: 100%;
    position: absolute;
    bottom: 41px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #fffbf2;
    text-align: center;
}

.prac-left-card {
    width: 70%;
    background-image: url(images/prac-images/Rectangle\ 3652business.png);
}

.prac-right-card {
    width: 30%;
    background-image: url(images/prac-images/Rectangle\ 3651partner.png);
}

.clients {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.clients-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-title {
    width: 30%;
}

.btn {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
}

.btn-left {
    background-image: url(images/Down\ 1arrow.svg);
}

.btn-right {
    background-image: url(images/Down\ 1arrow.svg);
    transform: rotate(180deg);
}

.btn:hover {
    background-color: #E3B748;
}

.clients-card-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.clients-card {
    font-family: 'Roboto';
    position: relative;
    width: 300px;
    min-width: 300px;
    border: 1px solid #ffffff1a;
    border-radius: 14px;
    padding: 30px;
}

.card-active {
    background-color: #2E2E2E;
}

.card-desc {
    color: white;
}

.corner-num {
    position: absolute;
    z-index: 6;
    right: 20px;
    top: 20px;
}

.clients-card p {
    margin: 0;
}

.team {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-card {
    width: 300px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 14px;
}

.team-card:hover {
    background-color: #E3B748;
}

.team-card-img {
    display: flex;
    align-items: center;
}

.team-card-text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.team-card-text p,
h2 {
    margin: 0;
}

.faq {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.faq-wrapper {
    display: flex;
}


.left-faq {
    width: 50%;
    padding-right: 50px;
}

.right-faq {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-case {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #d9d9d97e;
}

.faq-btn {
    width: 30px;
    height: 30px;
    background-color: #E3B748;
    border-radius: 50px;
    border: none;
}

.newsletter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #47474780;
}

.newsletter-title {
    text-align: center;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.newsletter-form input {
    height: 50px;
    width: 40%;
    padding-left: 20px;
    border: none;
}

.newsletter-btn {
    width: 20%;
    border-radius: 0 14px 14px 0;
    background-color: #E3B748;
    border: none;
}

.bordered-input {
    border-radius: 14px 0 0 14px;
    
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    gap: 50px;
    font-family: 'Roboro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.social {
    display: flex;
    gap: 20px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    gap: 20px;
}

.copyright a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}



@media only screen and (max-width:639px) {
    main {
        background: #111111;
    }

    .header-wrapper {
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: center;
        justify-content: center;
    }

    .section-text {
        width: 100%;
        background-color: #11111190;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 50%;
    }

    .text-wrapper h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 50px;
    }

    .main-gray-text {
        color: #c7c7c7;
    }
}

@media only screen and (min-width:640px) and (max-width:1024px) {
    main {
        background: #111111;
    }

    .header-wrapper {
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: center;
        justify-content: center;
    }

    .section-text {
        width: 100%;
        background-color: #11111190;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        width: 50%;
    }

    .text-wrapper h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 50px;
    }

    .main-gray-text {
        color: #c7c7c7;
    }

}

@media only screen and (min-width:1025px) and (max-width:1259px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        justify-content: center;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }

}

@media only screen and (min-width:1260px) and (max-width:1365px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }

}

@media only screen and (min-width:1366px) {
    main {
        padding-left: 200px;
        padding-right: 200px;
        background: #111111;
    }

    .header-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .main-section {
        background-position: right;
    }

    .section-text {
        width: 50%;
    }

    .text-wrapper h1 {
        font-weight: 500;
        font-size: 66px;
    }

}

@media only screen and (max-width: 1140px) {
    .prac-right-card {
        width: 100%;
        min-height: 340px;
    }

    .prac-left-card {
        width: 100%;
        min-height: 340px;
    }

    .prac-line {
        flex-direction: column;
    }

    .prac-line-reversed {
        flex-direction: column-reverse;
    }
}